<property>
  <version>第四版</version>
  <number>2.7.0</number>
  <autoClear value="False" />
  <memoryCount value="10" />
  <clearAfterCopy value="False" />
  <textBoxColor value="白色" />
  <autoSaveTemp value="True" />
  <showSpeed value="False" />
  <alwaysShowBox2 value="False" />
  <autoCheckUpdate value="True" />
</property>